*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #66bf73; */
  background: #66bf73;
  background-image: -webkit-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -moz-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -ms-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -o-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: linear-gradient(
    to bottom,
    #66bf73,
    #2bc4ad
  );
  color: #fff;
  width: 100%;
  position: fixed;
}

.container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-title a {
  color: #fff;
  text-decoration: none;
}

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-btn .bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 10px;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 1.5rem;
  display: block;
}

.nav-links li a:hover {
  color: #bcedd2;
  /* color: #66bf73; */
}

h1#main-heading {
  color: #fff;
  margin: 0;
  font-family: 'Sacramento';
  font-size: 5rem;
  margin: 50px auto 0 auto;
  line-height: 2;
}

h1,
h2,
h3 {
  color: #66bf73;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #66bf73;
}

p {
  line-height: 2;
  font-size: ;
}

.horizontal-rule {
  border: dotted #66bf73 6px;
  width: 4%;
  border-bottom: none;
  margin: 50px auto;
}

.top-container {
  background-image: url('../images/bg.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-color: #111;
  padding: 170px;
}

#profile-pix {
  width: 300px;
  height: 300px;
  margin: 100px 0 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  background: #f4f4f4;
  padding: 20px 0 70px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0;
  text-align: left;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-msg {
  width: 30%;
  margin: 0 auto 20px;
}

.btn {
  background: #66bf73;
  background-image: -webkit-linear-gradient(
    top,
    #66bf73,
    #11999e
  );
  background-image: -moz-linear-gradient(
    top,
    #66bf73,
    #11999e
  );
  background-image: -ms-linear-gradient(
    top,
    #66bf73,
    #11999e
  );
  background-image: -o-linear-gradient(
    top,
    #66bf73,
    #11999e
  );
  background-image: linear-gradient(
    to bottom,
    #66bf73,
    #11999e
  );
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #66bf73;
  background-image: -webkit-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -moz-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -ms-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -o-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: linear-gradient(
    to bottom,
    #66bf73,
    #2bc4ad
  );
  text-decoration: none;
}

.bottom-container {
  background: #66bf73;
  background-image: -webkit-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -moz-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -ms-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: -o-linear-gradient(
    top,
    #66bf73,
    #2bc4ad
  );
  background-image: linear-gradient(
    to bottom,
    #66bf73,
    #2bc4ad
  );
  color: #fff;
  padding: 30px;
}

.footer-link {
  text-decoration: none;
  color: #fff;
  margin: 1rem;
}

.footer-link:hover {
  color: #bcedd2;
}

/* @media (max-width: 600px) {
  .toggle-btn {
    display: flex;
  }

  .nav-links {
    display: none;
  }

} */
